/* === Скидання відступів і шрифт === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

/* === Основна форма === */
form {
  padding-top: 20px;
  width: 70vw;
}
.flexbox-form-element {
  display: flex;
  gap: 1px;
  margin-bottom: 10px;
}
.flexbox-form-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* === Групи полів === */
fieldset {
  padding: 20px;
}
/* === Кожен елемент форми === */
.form-element {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.form-element-price{
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 12px;
}
.personal-info{
    width: 250px;
}
.contact{
    width: 228px;
    gap: 10px;
}
.car-info>select{
    width: 110px;
}
.car-info-color{
    gap: 5px;
}
datalist{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}
